body{
    background-color: whitesmoke;
    text-align: center;
}

.idparagrafo{
    color: steelblue;
    background-color: beige;
}

.idtitulo{
    color: tomato;
    background-color: whitesmoke;
}